module "{{.ComponentName}}" {
  source = "{{.ModuleSource}}"
{{if .ModuleVersion}}  version = "{{.ModuleVersion}}"
{{end}}{{if eq .Cardinality "map"}}
  for_each = tomap({
{{range .Instances}}    {{index . $.InstanceKey}} = {
{{range $k, $v := .}}{{if ne $k $.InstanceKey}}      {{$k}} = {{$v|renderHCL}}
{{end}}{{end}}    }
{{end}}  })
{{end}}{{if eq .Cardinality "map"}}{{range .PerInstanceFields}}
  {{.}} = each.value.{{.}}
{{end}}{{end}}{{range $name, $val := .SharedVars}}
  {{$name}} = {{$val|renderHCL}}
{{end}}}
